<div class="box">
    <h2 class="box-title">#&nbsp;行銷企劃</h2>
    <p class="box-description">針對公司職缺內容需求行銷自我計畫</p>
    <div class="box-content">
      <p><span>職務名稱：</span>&nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;網頁前端工程師</p>
      <br>
      <p><span>工作內容：</span> <span class="glyphicon glyphicon-check"></span>&nbsp;網站切版、程式撰寫、維護。</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-check"></span>&nbsp;具有創意，與企劃、後端人員協同執行專案、討論問題解決方案與執行。</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-check"></span>&nbsp;具有創意，與企劃、後端人員協同執行專案、討論問題解決方案與執行。</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-check"></span>&nbsp;以HTML5、CSS、SASS、Bootstrap2、Bootstrap3等前端技術，建置RWD網站。</p>
      <br>
      <p><span>技能條件：</span>&nbsp;<span class="glyphicon glyphicon-unchecked"></span>&nbsp;兩年以上相關經驗</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-check"></span>&nbsp;負責任並有良好的溝通能力。</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-check"></span>&nbsp;熟悉HTML5、CSS3、CoffeeScript、GitHub、Javascript(jQuery)網頁切版</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-check"></span>&nbsp;具備響應式 (RWD) 網站開發經驗</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-check"></span>&nbsp;個人作品 &nbsp;
      <a href="https://github.com/emily0"><i class="fa fa-github" aria-hidden="true"></i></a> |
      <a href="https://www.behance.net/yumin3991a638"><i class="fa fa-behance" aria-hidden="true"></i></a>
      </p>
    </div>
</div>
