<div class="box">
    <h2 class="box-title">#&nbsp;網站程式</h2>
    <p class="box-description">說明此網站誕生過程</p>
    <div class="box-content">
      <p><span>目的：</span>模擬Slack團隊溝通平台介面，並開設一個＃找人才頻道，讓履歷內容以對話方式呈現。</p>
      <br>
      <p><span>技術：</span>HTML/CSS/Javascript/Bootstrap/RWD</p>
      <br>
      <p><span>後端：</span>Ruby on Rails</p>
    </div>
</div>
