.item {
  background: rgba(0, 0, 0, 0.15);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  a {
    color: #fff;
  }
}

.main_nav {
  width: 200px;
  margin-top: 40px;
  li {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  li a {
    font-size: 1em;
    text-decoration: none;
    color: #fff;
  }
}

.user-meta {
  width: 230px;
  margin: 5px;
}

#user-photo {
  float: left;
}
#user-status {
  margin: 0 auto;
  padding: 5px;
  color: #fff;
  float: left;
}
