<div class="well">
  <p class="well-title">個人簡歷</p>
  <div class="well-profile"><%= image_tag "well-profile.png" %></div>
  <div class="well-info">
    <p><i class="fa fa-user" aria-hidden="true"></i> - 黃鈺閔</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i> - 0910439109</p>
    <p><i class="fa fa-envelope" aria-hidden="true"></i> - yumin@gmail.com</p>
    <p><i class="fa fa-github" aria-hidden="true"></i> - <a href="https://github.com/emily0">Github</a></p>
    <p><i class="fa fa-behance" aria-hidden="true"></i> - <a href="https://www.behance.net/yumin3991a638">Behance</a></p>
    <p><i class="fa fa-heart" aria-hidden="true"></i> - 喜愛閱讀、學習新知及發掘新奇事物，對設計、創新及網路科技充滿熱情。</p>
  </div>
</div>

<div class="well">
  <p class="well-title">實習經驗<span>2016.6 - 2016.10</span></p>
  <p>LingQ ( The Linguist Institute )</p>
  <p>實習內容：UX Design | User Onboarding ｜Infographic | Marketing | SEO | Customer Service </p>
</div>

<div class="well">
  <p class="well-title">教育背景<span>2012.9 - 2016.6</span></p>
  <p>台灣師範大學</p>
  <p>主修課程：平面設計｜網頁設計｜動畫影音</p>
</div>

<div class="well">
    <p class="well-title">掌握技能</p>
    技術 : HTML | CSS | Javascript | Bootstrap
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
    </div>
    框架 : Ruby on rails
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
    </div>
</div>
<div class="well">
    <p class="well-title">個人特質</p>
    <span class="label label-default">待人和善熱忱</span>
    <span class="label label-default">喜歡東學西學</span>
    <span class="label label-default">樂觀開朗</span>
    <span class="label label-default">創意點子王</span>
    <span class="label label-default">靈感源源不絕</span>
    <span class="label label-default">積極進取</span>
    <span class="label label-default">工作認真投入</span>
    <span class="label label-default">接受挑戰</span>
</div>
