<div id="logo"><%= image_tag "engoo.png" %></div>
<nav class="main_nav">
  <li><a href="#">群組</a></li>
  <li><a href="#">共同討論區</a></li>
  <li><a href="#">#社群行銷</a></li>
  <li><a href="#">#程式除錯</a></li>
  <li><a href="#">#尋找老師</a></li>
  <li><a href="#">#學生問題</a></li>
  <li class="item"><%= link_to "找人才", chat_rooms_path %></li>
  <li><a href="#">#聊天區</a></li>
</nav>

<nav class="main_nav">
  <li><a href="#">成員</a></li>
  <li><a href="#">Engoo</a></li>
  <li><a href="#">黃鈺閔</a></li>
</nav>
