        <header class="sidebar-header">
          <%= image_tag "logo.png" %>
        </header>
        <ul class="sidebar-nav nav">
            <li class="sidebar-brand">
                <a href="#home"><span class="fa fa-home solo">群組</span></a>
            </li>
            <li>
                <a href="#anch1">
                    <span class="fa fa-anchor solo">#&nbsp;共同討論區</span>
                </a>
            </li>
            <li>
                <a href="#anch2">
                    <span class="fa fa-anchor solo">#&nbsp;行銷企劃</span>
                </a>
            </li>
            <li>
                <a href="#anch3">
                    <span class="fa fa-anchor solo">#&nbsp;程式錯誤</span>
                </a>
            </li>
            <li>
                <a href="#anch4">
                    <span class="fa fa-anchor solo">#&nbsp;找人才</span>
                    <span class="badge">8</span>
                </a>
            </li>

            <li class="sidebar-brand">
                <a href="#home"><span class="fa fa-home solo">成員</span></a>
            </li>
            <li>
                <a href="#anch1">
                    <span class="fa fa-anchor solo">○&nbsp;Engoo1</span>
                </a>
            </li>
            <li>
                <a href="#anch1">
                    <span class="fa fa-anchor solo">○&nbsp;Engoo2</span>
                </a>
            </li>
            <li>
                <a href="#anch1">
                    <span class="fa fa-anchor solo">○&nbsp;Engoo3</span>
                </a>
            </li>
            <li>
                <a href="#anch2">
                    <span class="fa fa-anchor solo">●&nbsp;黃鈺閔</span>
                </a>
            </li>
        </ul>

        <footer class="sidebar-footer">
          <div id="user-id"><%= image_tag "profile.png" %></div>
          <div id="user-info"><p>黃鈺閔</p><p>Online</p></div>
        </footer>
